<?xml version="1.0" encoding="utf-8"?>
<plugin 
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-hello-kotlin"
  version="1.0.0">

  <name>Hello Kotlin</name>

  <engines>
    <engine name="cordova" version=">=7.1.0"/>
  </engines>

  <author email="pkilisio@gmail.com">Patrick Kilisio</author>

  <js-module src="www/hellokotlin.js" name="HelloKotlin">
    <clobbers target="hellokotlin" />
  </js-module>

  <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
      <feature name="HelloKotlin">
        <param name="android-package" value="hellokotlin.HelloKotlin"/>
      </feature>
    </config-file>

    <source-file src="src/HelloKotlin.kt" target-dir="app/src/main/kotlin/hellokotlin"/>
    <source-file src="src/build-extras.gradle" target-dir="."/>
  </platform>
</plugin>
